#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=COSMIC Text Editor(IME)
Exec=cosmic-edit-ime %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=io.github.kenz_gelsoft.CosmicEditIme
Categories=COSMIC;Utility;TextEditor;
Keywords=Text;Editor;
